black==23.9.1
click==8.1.7
filelock==3.12.2
flake8==6.1.0
fsspec==2023.9.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.1
numpy==1.26.1
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pycodestyle==2.11.1
pyflakes==3.1.0
sympy==1.12
torch==2.1.0
typing_extensions==4.7.1
